
<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="yandex-verification" content="711abed7d9b5a891" />
    <meta name="yandex-verification" content="7e9fb0dfaa70431f" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>О центре &#8212; Детский развивающий центр УМНАЯ КРОХА НН</title>
    <link rel='dns-prefetch' href='//www.google.com' />
    <link rel='dns-prefetch' href='//ajax.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel='stylesheet' id='style-css'  href='css/main.css' type='text/css' media='all' />
</head>
<body class="page-template page-template-tpl page-template-about page-template-tplabout-php page page-id-7">

<div class="wrapper" id="wrapper">

    <div class="fix-bar">
        <div class="fix-bar__inner">
            <div class="fix-bar__logo">
                <div class="logo">
                    <a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai" class="logo__link">
                        <span class="logo__title">Умная кроха нн</span>
                        <span class="logo__sub-title">центр раннего развития детей</span>
                    </a>
                </div>
            </div>
            <nav class="fix-bar__nav">
                <ul id="main-menu" class="main-menu">
                    <li id="menu-item-18" class="ico-about menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-7 current_page_item menu-item-18"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/o-tsentre/">О центре</a></li>
                    <li id="menu-item-170" class="ico-parent menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-170"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/roditelyam/">Родителям</a>
                        <ul class="sub-menu">
                            <li id="menu-item-610" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-610"><a href="/review/">Отзывы о нашем центре</a></li>
                            <li id="menu-item-538" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-538"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/roditelyam/nashi-tseny/">Наши цены</a></li>
                            <li id="menu-item-171" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-171"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/roditelyam/raspisanie-zanyatij/">Расписание занятий</a></li>
                            <li id="menu-item-318" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-318"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/sovety-pedagogov/igri-s-malo-govoryashim-rebenkom/">Малоговорящие дети</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-19" class="ico-program menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-19"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/nashi-programmy/">Наши программы</a>
                        <ul class="sub-menu">
                            <li id="menu-item-289" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-289"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/nashi-programmy/gruppa-uhoda-i-prismotra-detskij-sad/">Группа ухода и присмотра</a></li>
                            <li id="menu-item-223" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-223"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/nashi-programmy/sistema-montessori/">Развивающие занятия для малышей</a></li>
                            <li id="menu-item-445" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-445"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/nashi-programmy/logopedicheskie-zanyatiya-chistaya-rech/">Логопедические занятия</a></li>
                            <li id="menu-item-303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-303"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/nashi-programmy/podgotovka-detej-k-shkole/">Подготовка детей к школе</a></li>
                            <li id="menu-item-295" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-295"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/nashi-programmy/nyanya-na-chas-2/">Няня на час</a></li>
                            <li id="menu-item-288" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-288"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/nashi-programmy/gruppa-vyhodnogo-dnya/">Группа выходного дня</a></li>
                            <li id="menu-item-293" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-293"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/nashi-programmy/kruzhok-tantsev-drajv/">Кружок танцев «Драйв»</a></li>
                            <li id="menu-item-443" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-443"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/nashi-programmy/anglijskij-yazyk/">Английский язык</a></li>
                            <li id="menu-item-444" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-444"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/nashi-programmy/shahmaty/">Шахматы</a></li>
                            <li id="menu-item-292" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-292"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/nashi-programmy/kruzhok-testoplastika/">Кружок «Тестопластика»</a></li>
                            <li id="menu-item-580" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-580"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/nashi-programmy/logoritmika/">Логоритмика</a></li>
                            <li id="menu-item-446" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-446"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/nashi-programmy/prazdniki/">Проведение праздников</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-27" class="ico-life menu-item menu-item-type-post_type menu-item-object-page menu-item-27"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/zhizn-tsentra/">Жизнь центра</a></li>
                    <li id="menu-item-104" class="ico-stock menu-item menu-item-type-post_type_archive menu-item-object-stock menu-item-104"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/stock/">Все акции</a></li>
                    <li id="menu-item-103" class="ico-contact menu-item menu-item-type-post_type menu-item-object-page menu-item-103"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/kontakty/">Контакты</a></li>
                </ul>      </nav>
            <div class="fix-bar__action">
                <a href="#modal-order" data-fancybox class="fix-bar__action-btn">Записаться в центр</a>
            </div>
        </div>
    </div>
    <!-- /.fix-bar -->

    <div class="bar">
        <div class="container">
            <div class="bar__inner">
                <div class="bar__toggle">
                    <button class="nav-toggle">
                        <span class="nav-toggle__bar"></span>
                        <span class="nav-toggle__bar"></span>
                        <span class="nav-toggle__bar"></span>
                    </button>
                </div>
                <div class="bar__phone">
                    <div class="bar__phone-item">
                        <a href="tel:8 (831) 415-05-78" class="bar__phone-link">8 (831) 415-05-78</a>
                    </div>
                    <div class="bar__phone-item">
                        <a href="tel:8 (902) 781-05-78" class="bar__phone-link">8 (902) 781-05-78</a>
                    </div>
                </div>
                <div class="bar__address">Н. Новгород, ул. Новая, 32</div>
                <div class="bar__action">
                    <a href="#modal-order" data-fancybox class="bar__action-btn">Записаться в центр</a>
                </div>
            </div>
        </div>
    </div>

    <div class="header-wrap header-wrap_page">

        <header class="header">

            <div class="container">
                <div class="header__inner">
                    <div class="header__logo">
                        <div class="logo">
                            <a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai" class="logo__link">
                                <span class="logo__title">Умная кроха нн</span>
                                <span class="logo__sub-title">центр раннего развития детей</span>
                            </a>
                        </div>
                    </div>
                    <nav class="header__nav">
                        <ul id="main-menu" class="main-menu"><li class="ico-about menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-7 current_page_item menu-item-18"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/o-tsentre/">О центре</a></li>
                            <li class="ico-parent menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-170"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/roditelyam/">Родителям</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-610"><a href="/review/">Отзывы о нашем центре</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-538"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/roditelyam/nashi-tseny/">Наши цены</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-171"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/roditelyam/raspisanie-zanyatij/">Расписание занятий</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-318"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/sovety-pedagogov/igri-s-malo-govoryashim-rebenkom/">Малоговорящие дети</a></li>
                                </ul>
                            </li>
                            <li class="ico-program menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-19"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/nashi-programmy/">Наши программы</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-289"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/nashi-programmy/gruppa-uhoda-i-prismotra-detskij-sad/">Группа ухода и присмотра</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-223"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/nashi-programmy/sistema-montessori/">Развивающие занятия для малышей</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-445"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/nashi-programmy/logopedicheskie-zanyatiya-chistaya-rech/">Логопедические занятия</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-303"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/nashi-programmy/podgotovka-detej-k-shkole/">Подготовка детей к школе</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-295"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/nashi-programmy/nyanya-na-chas-2/">Няня на час</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-288"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/nashi-programmy/gruppa-vyhodnogo-dnya/">Группа выходного дня</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-293"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/nashi-programmy/kruzhok-tantsev-drajv/">Кружок танцев «Драйв»</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-443"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/nashi-programmy/anglijskij-yazyk/">Английский язык</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-444"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/nashi-programmy/shahmaty/">Шахматы</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-292"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/nashi-programmy/kruzhok-testoplastika/">Кружок «Тестопластика»</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-580"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/nashi-programmy/logoritmika/">Логоритмика</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-446"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/nashi-programmy/prazdniki/">Проведение праздников</a></li>
                                </ul>
                            </li>
                            <li class="ico-life menu-item menu-item-type-post_type menu-item-object-page menu-item-27"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/zhizn-tsentra/">Жизнь центра</a></li>
                            <li class="ico-stock menu-item menu-item-type-post_type_archive menu-item-object-stock menu-item-104"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/stock/">Все акции</a></li>
                            <li class="ico-contact menu-item menu-item-type-post_type menu-item-object-page menu-item-103"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/kontakty/">Контакты</a></li>
                        </ul>          </nav>
                    <div class="header__action">
                        <a href="#modal-order" data-fancybox class="header__action-btn">Записаться в центр</a>
                    </div>
                </div>
            </div>



            <div class="container">

                <div class="breadcrumbs"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai" class="breadcrumbs__link">Главная</a><span class="breadcrumbs__sep"></span>
                    О центре</div>
            </div>


        </header>

    </div>
    <!-- /.header-wrap -->
    <div class="content-wrap">
        <div class="container">

            <div class="content-container content-container_page">
                <h1 class="heading heading_grey-385">О центре</h1>
                <article class="article">

                    <div class="alignright img-blot img-blot_01"><img src="img/uploads/2019/10/o-nas-1.jpg" alt="" width="462" height="238" /></div>
                    <h2>Хотите для своего ребенка самого лучшего?</h2>
                    <p>Не устраивает переполненность групп государственных детских садов и отсутствие индивидуального подхода к каждому из детей? Тогда добро пожаловать в Центр раннего развития «Умная Кроха». В своей деятельности мы используем самые современные методики, а занятия проходят легко и с удовольствием. Небольшие группы, индивидуальный подход, <a href="#">творческие занятия</a>, режим дня, прогулки, игры, разновозрастная группа, все это обеспечат полноценный отдых, развитие и раскрытие всех талантов вашего ребенка.</p>
                    <div class="alignleft img-blot img-blot_02"><img src="img/uploads/2019/10/o-nas-2.jpg" alt="" width="462" height="238" /></div>
                    <h2>Наша миссия</h2>
                    <p>Наша миссия – сделать детство вашего ребенка счастливым и продуктивным, ведь это залог всей дальнейшей жизни каждого человека. Каждое занятие в нашем Центре раннего развития помогает раскрыть потенциал малыша, обучает новому и придает веру в свои силы, ведь у него обязательно все получится! Всестороннее развитие – памяти, внимания, интеллекта, моральных и личностных качеств, эстетического восприятия – вот наше кредо!</p>

                </article>
            </div>
            <!-- /.content-container -->

            <div class="content-container content-container_page">
                <article class="article">
                    <h2 class="headline headline_aqua">Достоинства нашего Центра</h2>
                    <ol class="list list_col-2">

                        <li>
                            <div class="h3">Соответствует нормам и требованиям СанПиН</div>
                            <p>Прошёл все проверки Роспотребнадзора</p>
                        </li>


                        <li>
                            <div class="h3">Небольшая группа</div>
                            <p>Группа небольшая, что позволяет организовать индивидуальный подход в воспитании и учитывать особенности характера каждого ребенка;</p>
                        </li>


                        <li>
                            <div class="h3">Как дома</div>
                            <p>домашняя обстановка помогает быстрее привыкнуть и адаптироваться к новым условиям</p>
                        </li>


                        <li>
                            <div class="h3">Без очередей</div>
                            <p>Не нужно получать путевку и ждать своей очереди, ребенка можно отдавать в Центр раннего развития в любом возрасте, как только появится потребность в этом</p>
                        </li>


                        <li>
                            <div class="h3">Качественное питание от ЕЦМЗ</div>
                            <p>Есть возможность учитывать особенности и приоритеты в организации питания каждого ребенка</p>
                        </li>


                        <li>
                            <div class="h3">Взаимоотношения</div>
                            <p>Разновозрастная группа построена по типу семьи. Поэтому и взаимоотношения старших и младших основаны на взаимопомощи, что способствует естественному развитию детей.</p>
                        </li>


                        <li>
                            <div class="h3">Удобное время</div>
                            <p>Возможность приводить ребенка в удобное время: на полный или сокращенный день, полную или сокращенную неделю и закрепить эти условия в договоре</p>
                        </li>


                        <li>
                            <div class="h3">Прививки</div>
                            <p>Нет строгих обязательств по привитию детей, об этом заботятся сами родители</p>
                        </li>

                    </ol>
                </article>
            </div>
            <!-- /.content-container -->

            <div class="content-container content-container_page">
                <article class="article">
                    <h2 class="headline headline_pink">Наши педагоги</h2>
                    <div class="educator-list">

                        <div class="educator-item">
                            <div class="educator-item__img">
                                <img src="img/uploads/2018/04/img-educator-01.jpg" alt="">
                            </div>
                            <div class="educator-item__title">Жанна Юрьевна Гарина</div>
                            <div class="educator-item__post">Директор центра раннего развития детей «Умная Кроха-НН»</div>
                            <div class="educator-item__desc">Музыкальный руководитель, социальный педагог, дефектолог Победитель II Всероссийского конкурса на звание «Лучший работник учреждения социального обслуживания» и 1 место в номинации.</div>
                        </div>
                        <!-- /.educator-item -->


                        <div class="educator-item">
                            <div class="educator-item__img">
                                <img src="img/uploads/2019/08/YUliya-i-Andrej-0385-e1567265124719-326x220.jpg" alt="">
                            </div>
                            <div class="educator-item__title">Балакина Ольга Сергеевна</div>
                            <div class="educator-item__post">Методист центра, старший воспитатель</div>
                            <div class="educator-item__desc">Диплом ННГУ им. Лобачевского по специальности «Филология»;
                                Диплом о профессиональной переподготовке по программе «Дошкольное образование»,
                                Нижегородский институт развития образования;
                                Курсы повышения квалификации по программе «Теория и практика воспитания и развития
                                ребенка дошкольного возраста», «Актуальные проблемы дошкольного образования в условиях
                                введения ФГОС ДО», Нижегородский институт развития образования;
                                Курсы повышения квалификации по теме «Основы гуманно-личностного подхода к детям в
                                образовательном процессе», «Искусство семейного воспитания», Академия педагогического
                                искусства и социализации Шалвы Амонашвили.
                                Опыт работы с детьми дошкольного возраста 8 лет</div>
                        </div>
                        <!-- /.educator-item -->


                        <div class="educator-item">
                            <div class="educator-item__img">
                                <img src="img/uploads/2019/08/V0k9I7ZhX80-e1567265583534-293x220.jpg" alt="">
                            </div>
                            <div class="educator-item__title">Санвидо Наталия Сергеевна</div>
                            <div class="educator-item__post">Логопед-дефектолог</div>
                            <div class="educator-item__desc">Высшее образование,
                                к.п.н., доцент, стаж логопедической работы 23 года
                                автор 43 научных статей, методики работы с детьми с задержкой
                                речевого развития</div>
                        </div>
                        <!-- /.educator-item -->

                    </div>
                    <!-- /.educator-list -->

                </article>
            </div>
            <!-- /.content-container -->

        </div>
    </div>
    <!-- /.content-wrap -->

    <div class="footer-bar">
        <div class="container">
            <div class="footer-bar__inner">
                <div class="footer-bar__logo">
                    <div class="logo">
                        <a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai" class="logo__link">
                            <span class="logo__title">Умная кроха нн</span>
                            <span class="logo__sub-title">центр раннего развития детей</span>
                        </a>
                    </div>
                </div>
                <nav class="footer-bar__nav">
                    <ul id="foot-menu" class="main-menu"><li id="menu-item-34" class="ico-about menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-7 current_page_item menu-item-34"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/o-tsentre/">О центре</a></li>
                        <li id="menu-item-35" class="ico-program menu-item menu-item-type-post_type menu-item-object-page menu-item-35"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/nashi-programmy/">Наши программы</a></li>
                        <li id="menu-item-36" class="ico-parent menu-item menu-item-type-post_type menu-item-object-page menu-item-36"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/roditelyam/">Родителям</a></li>
                        <li id="menu-item-37" class="ico-life menu-item menu-item-type-post_type menu-item-object-page menu-item-37"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/zhizn-tsentra/">Жизнь центра</a></li>
                        <li id="menu-item-99" class="ico-stock menu-item menu-item-type-post_type_archive menu-item-object-stock menu-item-99"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/stock/">Акции</a></li>
                        <li id="menu-item-102" class="ico-contact menu-item menu-item-type-post_type menu-item-object-page menu-item-102"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/kontakty/">Контакты</a></li>
                    </ul>        </nav>
            </div>
        </div>
    </div>
    <!-- /.footer-bar -->

    <div class="footer-contact">
        <div class="footer-contact__main">
            <div class="footer-contact__main-inner">
                <div class="heading heading_white-385">Контакты</div>
                <div class="footer-contact__unit">
                    <div class="footer-contact__label">контактные телефоны</div>
                    <div class="footer-contact__value">
                        <div class="footer-contact__phone">8 (831) 415-05-78</div>
                        <div class="footer-contact__phone">8 (902) 781-05-78</div>
                    </div>
                </div>
                <div class="footer-contact__unit">
                    <div class="footer-contact__label">адрес</div>
                    <div class="footer-contact__value">Н. Новгород, ул. Новая, 32</div>
                </div>
                <div class="footer-contact__action">
                    <a href="#modal-consult" data-fancybox class="footer-contact__btn">Получить консультацию</a>
                </div>
            </div>
        </div>
        <div class="footer-contact__map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2213.0460764234135!2d43.99115641545444!3d56.31177795620922!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4151d5ae00133945%3A0x89f8601ca0f0e1ee!2z0YPQuy4g0J3QvtCy0LDRjywgMzIsINCd0LjQttC90LjQuSDQndC-0LLQs9C-0YDQvtC0LCDQndC40LbQtdCz0L7RgNC-0LTRgdC60LDRjyDQvtCx0LsuLCDQoNC-0YHRgdC40Y8sIDYwMzAwMA!5e0!3m2!1sru!2sua!4v1523108794640" width="100%" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <!-- /.footer-contact -->

    <footer class="footer">
        <div class="container">
            <div class="footer__inner">
                <div class="footer__nav">
                    <a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/politika-konfidentsialnosti/" target="_blank" class="footer__nav-link">Политика конфиденциальности</a>
                </div>
                <div class="footer__social">
                    <div class="footer-social">
                        <a href="https://vk.com/umknn" target="_blank" class="footer-social__btn footer-social__btn_vk"></a>
                        <a href="https://www.instagram.com/umnaiakrokhann/" target="_blank" class="footer-social__btn footer-social__btn_insta"></a>
                        <a href="https://www.youtube.com/channel/UCkVCrWkgzHrH3D01i-ND1KQ" target="_blank" class="footer-social__btn footer-social__btn_youtube"></a>
                    </div>
                </div>
                <div class="footer__dev">
                    <span class="footer__dev-head">Разработано в </span>
                    <a href="#" class="footer__dev-link">INSITE интернет решения</a>
                </div>
            </div>
        </div>
    </footer>

    <div class="nav-overlay"></div>

    <!-- Модальное окно "Получить консультацию" -->
    <div class="popup popup_sm" id="modal-consult">
        <div class="popup__body">
            <div class="heading heading_grey-385">Задать вопрос</div>
            <div class="form">
                <div role="form" class="wpcf7" id="wpcf7-f156-o1" lang="ru-RU" dir="ltr">
                    <div class="screen-reader-response"></div>
                    <form action="/o-tsentre/#wpcf7-f156-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                        <div style="display: none;">
                            <input type="hidden" name="_wpcf7" value="156" />
                            <input type="hidden" name="_wpcf7_version" value="5.1.7" />
                            <input type="hidden" name="_wpcf7_locale" value="ru_RU" />
                            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f156-o1" />
                            <input type="hidden" name="_wpcf7_container_post" value="0" />
                            <input type="hidden" name="g-recaptcha-response" value="" />
                        </div>
                        <div class="form__row">
                            <div class="form__column">
                                <div class="form__group"><span class="wpcf7-form-control-wrap consult-name"><input type="text" name="consult-name" value="" size="40" class="wpcf7-form-control wpcf7-text form-control" aria-invalid="false" placeholder="Имя" /></span></div>
                                <div class="form__group"><span class="wpcf7-form-control-wrap consult-tel"><input type="tel" name="consult-tel" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel form-control" aria-required="true" aria-invalid="false" placeholder="Телефон" /></span></div>
                                </p></div>
                            <div class="form__column">
                                <div class="form__group"><span class="wpcf7-form-control-wrap consult-textarea"><textarea name="consult-textarea" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea form-control form-control_textarea" aria-invalid="false" placeholder="Вопрос"></textarea></span></div>
                                </p></div>
                        </div>
                        <div class="form__submit"><input type="submit" value="Отправить" class="wpcf7-form-control wpcf7-submit form__btn" /></div>
                        <div class="wpcf7-response-output wpcf7-display-none"></div></form></div>        <div class="form__note">Нажимая на кнопку «отправить» вы соглашаетесь с <a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/politika-konfidentsialnosti/" target="_blank">политикой конфидециальности</a></div>
            </div>
        </div>
    </div>

    <!-- Модальное окно "Записаться" -->
    <div class="popup popup_sm" id="modal-order">
        <div class="popup__body">
            <div class="heading heading_grey-385">Записаться <br>в наш центр</div>
            <div class="form">
                <div role="form" class="wpcf7" id="wpcf7-f157-o2" lang="ru-RU" dir="ltr">
                    <div class="screen-reader-response"></div>
                    <form action="/o-tsentre/#wpcf7-f157-o2" method="post" class="wpcf7-form" novalidate="novalidate">
                        <div style="display: none;">
                            <input type="hidden" name="_wpcf7" value="157" />
                            <input type="hidden" name="_wpcf7_version" value="5.1.7" />
                            <input type="hidden" name="_wpcf7_locale" value="ru_RU" />
                            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f157-o2" />
                            <input type="hidden" name="_wpcf7_container_post" value="0" />
                            <input type="hidden" name="g-recaptcha-response" value="" />
                        </div>
                        <div class="form__row">
                            <div class="form__column">
                                <div class="form__group"><span class="wpcf7-form-control-wrap order-service"><select name="order-service" class="wpcf7-form-control wpcf7-select form-select" aria-invalid="false"><option value="">Выберите услугу</option><option value="Группа ухода и присмотра">Группа ухода и присмотра</option><option value="Занятия Монтессори">Занятия Монтессори</option><option value="Развивающие занятия для малышей">Развивающие занятия для малышей</option><option value="Группа выходного дня">Группа выходного дня</option><option value="Няня на час">Няня на час</option><option value="Арт студия">Арт студия</option><option value="Кружок «Бумажная фантазия»">Кружок «Бумажная фантазия»</option><option value="Кружок танцев «Драйв»">Кружок танцев «Драйв»</option><option value="Кружок «Тестопластика»">Кружок «Тестопластика»</option><option value="Подготовка детей к школе">Подготовка детей к школе</option></select></span></div>
                                <div class="form__group"><span class="wpcf7-form-control-wrap order-name"><input type="text" name="order-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Имя" /></span></div>
                                <div class="form__group"><span class="wpcf7-form-control-wrap order-tel"><input type="tel" name="order-tel" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel form-control" aria-required="true" aria-invalid="false" placeholder="Телефон" /></span></div>
                                </p></div>
                            <div class="form__column">
                                <div class="form__group form__group_date">
                                    <div class="form-date">
                                        <div class="form-date__label">На какую дату:</div>
                                        <div class="form-date__row"><span class="wpcf7-form-control-wrap order-date"><input type="date" name="order-date" value="" class="wpcf7-form-control wpcf7-date wpcf7-validates-as-date form-control" aria-invalid="false" placeholder="На какую дату" /></span></div>
                                        </p></div>
                                    </p></div>
                                <div class="form__group"><span class="wpcf7-form-control-wrap order-textarea"><textarea name="order-textarea" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea form-control form-control_textarea" aria-invalid="false" placeholder="Комментарий"></textarea></span></div>
                                </p></div>
                        </div>
                        <div class="form__note">Если остались вопросы звоните нам (831) 415-05-78</div>
                        <div class="form__submit"><input type="submit" value="Отправить" class="wpcf7-form-control wpcf7-submit form__btn" /></div>
                        <div class="wpcf7-response-output wpcf7-display-none"></div></form></div>        <div class="form__note">Нажимая на кнопку «отправить» вы соглашаетесь с <a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/politika-konfidentsialnosti/" target="_blank">политикой конфидециальности</a></div>
            </div>
        </div>
    </div>

</div>
<!-- /.wrapper -->

<div class="mobile-nav" id="mobile-nav">
    <ul id="mobile-menu" class="mobile-menu"><li class="ico-about menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-7 current_page_item menu-item-18"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/o-tsentre/">О центре</a></li>
        <li class="ico-parent menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-170"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/roditelyam/">Родителям</a>
            <ul class="sub-menu">
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-610"><a href="/review/">Отзывы о нашем центре</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-538"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/roditelyam/nashi-tseny/">Наши цены</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-171"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/roditelyam/raspisanie-zanyatij/">Расписание занятий</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-318"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/sovety-pedagogov/igri-s-malo-govoryashim-rebenkom/">Малоговорящие дети</a></li>
            </ul>
        </li>
        <li class="ico-program menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-19"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/nashi-programmy/">Наши программы</a>
            <ul class="sub-menu">
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-289"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/nashi-programmy/gruppa-uhoda-i-prismotra-detskij-sad/">Группа ухода и присмотра</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-223"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/nashi-programmy/sistema-montessori/">Развивающие занятия для малышей</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-445"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/nashi-programmy/logopedicheskie-zanyatiya-chistaya-rech/">Логопедические занятия</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-303"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/nashi-programmy/podgotovka-detej-k-shkole/">Подготовка детей к школе</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-295"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/nashi-programmy/nyanya-na-chas-2/">Няня на час</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-288"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/nashi-programmy/gruppa-vyhodnogo-dnya/">Группа выходного дня</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-293"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/nashi-programmy/kruzhok-tantsev-drajv/">Кружок танцев «Драйв»</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-443"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/nashi-programmy/anglijskij-yazyk/">Английский язык</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-444"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/nashi-programmy/shahmaty/">Шахматы</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-292"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/nashi-programmy/kruzhok-testoplastika/">Кружок «Тестопластика»</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-580"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/nashi-programmy/logoritmika/">Логоритмика</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-446"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/nashi-programmy/prazdniki/">Проведение праздников</a></li>
            </ul>
        </li>
        <li class="ico-life menu-item menu-item-type-post_type menu-item-object-page menu-item-27"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/zhizn-tsentra/">Жизнь центра</a></li>
        <li class="ico-stock menu-item menu-item-type-post_type_archive menu-item-object-stock menu-item-104"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/stock/">Все акции</a></li>
        <li class="ico-contact menu-item menu-item-type-post_type menu-item-object-page menu-item-103"><a href="http://xn----7sbb3bhgkpv1a9h.xn--p1ai/kontakty/">Контакты</a></li>
    </ul>  <div class="mobile-nav__action">
    <a href="#modal-order" data-fancybox class="mobile-nav__action-btn">Записаться в центр</a>
</div>
    <div class="mobile-nav__contact">
        <div class="mobile-contact">
            <div class="mobile-contact__address">Н. Новгород, ул. Новая, 32</div>
            <div class="mobile-contact__phone">
                <a href="tel:8 (831) 415-05-78" class="mobile-contact__phone-link">8 (831) 415-05-78</a>
                <a href="tel:8 (902) 781-05-78" class="mobile-contact__phone-link">8 (902) 781-05-78</a>
            </div>
        </div>
        <!-- /.mobile-contact -->
    </div>
</div>
<!-- /.mobile-nav -->

<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script type='text/javascript' src='js/libs.min.js'></script>
<script type='text/javascript' src='js/common.js?ver=1613335379'></script>

<!-- Yandex.Metrika counter -->
<!--<script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter50001154 = new Ya.Metrika2({ id:50001154, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/tag.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks2"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/50001154" style="position:absolute; left:-9999px;" alt="" /></div></noscript> &lt;!&ndash; /Yandex.Metrika counter &ndash;&gt;-->

</body>
</html>
