.review {
    padding: 50px 0;
    background-color: #ffffff;
  }

  .review-list {
    margin-bottom: 50px;
  }

  .review-list__item {
    padding: 0 12px;
  }

  .review-list_page {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .review-list_page .review-list__item {
    width: 33.3%;
    margin-bottom: 24px;
  }

  .review-list__link {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #020202;
  }

  .review-list__img {
    position: relative;
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
  }

  .review-list__img:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    background: rgba(44, 44, 44, 0.34) url(../img/ico/ico-video-play.png) center center no-repeat;
    background-size: 71px 55px;
  }

  .review-list__link:hover .review-list__img:before {
    background-color: rgba(44, 44, 44, 0.5);
  }

  .review-list .slick-arrow {
    top: 82px;
    margin-top: 0;
  }

  .review-list .slick-arrow:hover {
    background-color: #5ddfc9;
  }

  .review-list .slick-arrow.slick-next {
    right: -27px;
  }

  .review-list .slick-arrow.slick-prev {
    left: -27px;
  }

  .review-more {
    text-align: center;
  }

  .review-more__btn {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    color: #a0a5b1;
    border: 1px dashed #b9bcc7;
    -webkit-border-radius: 16px;
    border-radius: 16px;
  }

  .review-more__btn:hover {
    text-decoration: none;
    color: #a0a5b1;
    background-color: #f3f4f8;
    -webkit-box-shadow: 0 0 0 4px #f3f4f8;
    box-shadow: 0 0 0 4px #f3f4f8;
  }
