.pagination {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 35px 0 20px 0;
    border-top: 1px dashed #c8c9cf;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .page-numbers {
    font-family: aMavickFont;
    font-size: 26px;
    font-weight: 400;
    line-height: 64px;
    display: block;
    width: 64px;
    height: 64px;
    text-align: center;
    text-decoration: none;
    color: #171717;
  }

  .page-numbers.current {
    background: url(../img/img-pagination-current.png) center center no-repeat;
  }

  .page-numbers.next,
  .page-numbers.prev {
    background: url(../img/ico/ico-arrow-pagination.svg) center center no-repeat;
    background-size: 20px auto;
  }

  .page-numbers.next:hover,
  .page-numbers.prev:hover {
    background-image: url(../img/ico/ico-arrow-pagination-hover.svg);
  }

  .page-numbers.next {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
